<%- layout('layouts/boilerplate.ejs')  %> 

<body>
    <h1 class="main-title">YEETOZ Feed</h1>
    <section class="feed-zone container">
        <% for (let burrito of burritos) { %>
            <div class="feed-card">
                <div class="card-title">
                    <a href="/burritos/<%= burrito._id  %> "><%= burrito.title %></a>
                </div>

                <div class="card-image">
                    <% for(let img of burrito.image) { %> 
                    <img class="feed-img" src="<%= img.url %>">
                    <% } %> 
                </div>
                
                <div class="card-section-last">
                    <%= moment(burrito.createdAt).format('MMMM Do YYYY, h:mm:ss a') %>
                </div>
            </div>
        <% } %>  
    </section>
</body>